.ball {
    width: 70px;
    height: 70px;
    background-color: #f3d4cd;
    border-radius: 50%;
    position: absolute;
    animation: ballbounce 5s infinite;
    right: 50%;
    transition: 0.1s;
}
  
.ball:hover  {
  background-color: #d3bab5;
}

.text {
  font-size: 1cm;
  color: #f3d4cd;
  position: absolute;
  animation: textbounce 0.5s infinite;
  right: 20%; 	
}

.text2 {
  font-size: 1cm;
  color: #f3d4cd;
  text-align: center;
  right: 28%;
  position: absolute;
  animation: textbounce2 0.6s infinite;
}

  @keyframes ballbounce {
    0% {
      top: 20%; /* Start from the middle of the screen */
      animation-timing-function: ease-in;
    }
    50% {
      top: 72%; /* Bounce to the bottom of the screen */
      animation-timing-function: ease-out;
    }
    100% {
      top: 20%; /* Return to the middle of the screen */
    }
  }
  
  @keyframes textbounce {
    0% {
      top: 50%; /* Start from the middle of the screen */
      animation-timing-function: ease-in;
    }
    50% {
      top: 75%; /* Bounce to the bottom of the screen */
      animation-timing-function: ease-out;
    }
    100% {
      top: 50%; /* Return to the middle of the screen */
    }
  }

  @keyframes textbounce2 {
    0% {
      top: 9%; /* Start from the middle of the screen */
      animation-timing-function: ease-in;
    }
    50% {
      top: 11%; /* Bounce to the bottom of the screen */
      animation-timing-function: ease-out;
    }
    100% {
      top: 9%; /* Return to the middle of the screen */
    }
  }