.greetingcard{
    display: flex;
    flex-direction: column;
    font-size: 0.9cm;

    max-width: 300px;
    margin: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing:border-box;
    background-color: #181514;
}

.greetingcard button{
    width: 50%;;
    padding: 3px;
    margin: 5px 0;
    font-size: 0.5cm;
    border: 1px solid #040400;
    border-radius: 12%;
    box-sizing: border-box; /*ensures width inclusdes padding and border */
    transition: 0.5s;
}

.greetingcard button:hover{
    background-color: rgb(196, 196, 196);
    cursor: pointer;
}

textarea, .greetingcard input{
    font-size: 0.5cm;
}

.greetingcard p{
    font-size: 0.5cm;
}