.grid-container {
    display: grid;
    grid-template-columns: repeat(3,2fr);
    background-color: #2a2625;
    padding: 15px;
    text-align: center;
  }

  .grid-item {
    background-color: #9a9a9a8f;
    font-size: 30px;
    padding: 0px;
    transition: transform 0.5s ease-in-out;
    width: 200px;
    height: 200px;
    align-items: center;
    border: 0px;
  }

  .grid-item:hover {
    transform: scale(1.2);
  }

